## Model Training

### 1.1 Import Data & Required Packages

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [5]:
df = pd.read_csv('data/stud.csv')

In [6]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Preparing X & Y Variable

In [7]:
x = df.drop('math score', axis=1)

In [9]:
x.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [11]:
y = df['math score']

In [12]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [13]:
print('Categories in Gender variable:   ',end=" " )
print(df['gender'].unique())

print('Categories in Race/Ethnicity variable:   ',end=" " )
print(df['race/ethnicity'].unique())

print('Categories in Parental Level of Education variable:   ',end=" " )
print(df['parental level of education'].unique())

print('Categories in Lunch variable:   ',end=" " )
print(df['lunch'].unique())

print('Categories in Test Preparation Course variable:   ',end=" " )
print(df['test preparation course'].unique())

Categories in Gender variable:    ['female' 'male']
Categories in Race/Ethnicity variable:    ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in Parental Level of Education variable:    ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in Lunch variable:    ['standard' 'free/reduced']
Categories in Test Preparation Course variable:    ['none' 'completed']

In [18]:
# Create Column Transformers with 3 types of Transformers

num_featurs = x.select_dtypes(exclude='object').columns
cat_featurs = x.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_tranformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(

    [

        ("OneHotEncoder", oh_transformer, cat_featurs),
        ("StandardScaler", numeric_tranformer, num_featurs),
    ]
)

In [19]:
X = preprocessor.fit_transform(x)

In [20]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [21]:
X.shape

(1000, 19)

In [25]:
### Seperate Data into Train & Test

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape

((800, 19), (200, 19))